<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet"
    href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <title></title>
</head>

<body>
  <div class="container-sm">
    <div class="d-flex justify-content-between align-items-center flex-row bd-highlight">
      <div class="p-2 bd-highlight">
        <h1 class="text-start text-secondary">Veterinaria "El Ganadero"</h1>
      </div>
      <div class="p-2 bd-highlight text-secondary">Usuario en turno: <% if(user)%> <span id="user"><b>
              <%= user.user %>
            </b></span> | <a href="/logout"> Log out</a>
          <span hidden id="token">
            <%= user.token %>
          </span>
      </div>
    </div>

    <hr>

    <div class="row" id="cards">
      <form action="" method="post">
        <div class="d-flex justify-content-center flex-row bd-highlight">
          <div class="p-2 bd-highlight"><input type="number" class="form-control" name="producto" id="producto"
              placeholder="Código del Producto" autofocus></div>
          <div class="p-2 bd-highlight"><input type="submit" class="btn btn-secondary" id="btn" value="Agregar"></div>
        </div>
      </form>
    </div>

    <hr>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Producto</th>
          <th scope="col">Precio</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Acción</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody id="items"></tbody>
      <tfoot>
        <tr id="footer">
          <th scope="row" colspan="5">Sistema listo para vender productos!</th>
        </tr>
      </tfoot>
    </table>

    <div class="d-grid gap-2 col-6 mx-auto">
      <button class="btn btn-primary btn-lg mt-3 mb-3" id="vender-carrito">Realizar Venta</button>
    </div>

    <a class="btn btn-primary rounded-circle position-absolute bottom-0 end-0 material-symbols-outlined m-1"
      href="/settings" role="button">
      <h3>settings</h3>
    </a>

    </span>

  </div>

  <template id="template-footer">
    <td></td>
    <th class="fs-5 fw-bold" scope="row" colspan="2">Total de productos</th>

    <td class="fs-5 fw-bold"></td>
    <td>
      <button class="btn btn-danger btn-sm" id="vaciar-carrito">
        Vaciar todo
      </button>
    </td>
    <td class="fs-4 fw-bold">$<span>5000</span></td>
  </template>

  <template id="template-carrito">
    <tr>
      <td>id</td>
      <td>Café</td>
      <td>$99.90</td>
      <td>1</td>
      <td>
        <button class="btn btn-info btn-sm">
          +
        </button>
        <button class="btn btn-danger btn-sm">
          -
        </button>
      </td>
      <td>$<span>500</span></td>
    </tr>
  </template>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <script src="js/carrito.js"></script>

</body>

</html>