<%- include('partials/head'); %>

<%- include('partials/panel'); %>

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <%- include('partials/titulo', {titulo: 'Productos'}); %>
    <h3 id="tituloForm"></h3>

    <!-- Formulario -->
    <form name="loginForm"></form> 

    <!-- Modal de respuestas -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-success text-white fw-bold bg-opacity-75">
                    <h5 class="modal-title" id="exampleModalLabel"></h5> <!-- Muestra el título recibido-->
                    <button type="button" id="btnRepintar" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center text-dark fw-bold bg-success bg-opacity-25">
                    <div id="message"></div> <!-- Muestra el mensaje recibido -->
                </div>
            </div>
        </div>
    </div>

    <hr>

    <table class="table table-responsive">
        <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Producto</th>
                <th scope="col">Precio</th>
                <th scope="col">Costo</th>
                <th scope="col">Stock</th>
                <th scope="col">Descripción</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        <tbody id="items"></tbody>
    </table>
    </div>

    <template id="template-inputs">
        <div class="input-group mb-3">
            <input type="hidden" class="form-control" name="id" id="id">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Código:</span>
            <input type="number" class="form-control" name="codigo" id="codigo">
        </div>
        <div class="input-group mb-3 mt-3">
            <span class="input-group-text">Nombre:</span>
            <input type="text" class="form-control" name="nombre" id="nombre">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Precio:</span>
            <input type="number" class="form-control" name="precio" id="precio">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Costo:</span>
            <input type="number" class="form-control" name="costo" id="costo">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Stock:</span>
            <input type="number" class="form-control" name="stock" id="stock">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Descripción:</span>
            <input type="text" class="form-control" name="descripcion" id="descripcion">
        </div>

        <div class="d-grid gap-2 col-6 mx-auto">
            <input type="submit" id="btn" value="Guardar Producto" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
        </div>
    </template>

    <template id="template-productos">
        <tr>
            <th scope="row">Codigo</th>
            <td>Medicina</td>
            <td>$ <span id="precio">200</span></td>
            <td>$ <span id="costo">150</span></td>
            <td>20</td>
            <td>Aquí va la descripción del producto</td>
            <td>
                <button class="btn btn-info btn-sm">
                    <i class="bi bi-pencil"></i>
                </button>
                <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i class="bi bi-trash3"></i>
                </button>
            </td>
        </tr>
    </template>

</main>

</div>
</div>

    <script src="js/productos.js"></script>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    

    </body>
</html>